 .rights{
    background-color:#5C8EF2;
   
} 
.photo img{
    width: 250px;
    height: 180px;
}
section {
    display: flex ;
    flex-direction: column-raw;
    justify-content:right;
}
.name{

}

  